body {font-family:sans-serif; background-color: #EBEBEB; color: #333;}
#playlistArea { position:absolute;left:730px;top:0px;width:300px; }
img {vertical-align:middle; }
.upvoteButton { cursor: pointer; width:20px; height:20px; background: url(img/upvote.png); display:inline-block; }
.upvoteDisabled { width:20px; height:20px; background: url(img/upvote_disabled.png); display:inline-block; }
#header {width:164px; height:60px; background: url(img/logo.png) no-repeat; margin-bottom:20px;}
#header span {display:none; }
.thumbnail {width:40px; height:40px; }
.videoEntry {border-top: 1px solid #CCC; border-bottom: 1px solid #CCC; margin-top:2px; margin-bottom:2px; position:relative;}
#submitArea {position:absolute; top:5px; left: 200px; }
h3 {background-color:#2B2B2B; color:#FFF; font-weight:normal; font-size:0.9em; padding:5px;}
#mainColumn {margin-left:auto; margin-right:auto; width:1050px;position:relative;}
.videoTitle {font-size:0.9em;  display:inline-block; position:absolute; left:70px;top:5px;height:40px; overflow:hidden;}

#chat {height:140px; background-color:white;border:1px solid #777; overflow-y:scroll;}
#chatInput {width:100%; }
.phoneNumber {font-size:1.2em; font-weight: bold; }
